@utility heading-lg {
  font-family: 'adobe-handwriting-ernie', 'Helvetica-Neue', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.2;
  text-decoration: none !important;
}

@utility heading-base {
  font-family: 'DM Sans', 'Helvetica-Neue', 'sans-serif';

  @apply font-normal text-6xl tracking-wide;
}

@utility text-base {
  font-family: 'DM Sans', 'Helvetica-Neue', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}

@utility filter-base {
  font-family: 'DM Sans', 'Helvetica-Neue', 'sans-serif';

  @apply font-normal text-[16px] md:text-[18px] leading-[1.2] md:leading-normal;
}

@utility cta-base {
  font-family: 'DM Sans', 'Helvetica-Neue', 'sans-serif';

  @apply font-normal text-[16px] leading-normal;
}
