/* Font utilities */
@utility font-cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@utility font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@utility font-adobe-handwriting {
  font-family: 'adobe-handwriting-ernie', 'Helvetica-Neue', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  text-decoration: none !important;
}

/* Sitewide typography classes */
@utility site-name-base {
  @apply font-adobe-handwriting text-2xl md:text-3xl;
}

@utility heading-base {
  @apply font-cabin font-normal text-3xl md:text-6xl tracking-wide leading-none;
}

@utility subheader-base {
  @apply font-cabin font-normal text-2xl md:text-4xl tracking-wide leading-none;
}

@utility navigation-base {
  @apply font-cabin font-normal text-3xl md:text-5xl tracking-wide leading-none;
}

@utility copy-base {
  @apply font-dm-sans font-normal text-base leading-normal no-underline;
}

@utility related-post-base {
  @apply font-dm-sans font-normal text-base md:text-2xl leading-normal no-underline!;
}

@utility filter-base {
  @apply font-dm-sans font-normal text-[16px] md:text-[18px] leading-[1.2] md:leading-normal;
}

@utility cta-base {
  @apply font-dm-sans font-normal text-[16px] leading-normal;
}
